<div [class.sidebar-collapsed]="isCollapsed"
     class="sidebar-custom d-flex flex-column flex-shrink-0 p-3 text-white"
     style="width: 280px; height: 100vh; transition: width 0.3s;"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">
     
    <img class="img-fluid w-70 mx-auto mb-1 mt-2" src="logo-cofincafe-blanco.png" alt="">

  <hr>

  <ul class="nav nav-pills d-flex align-items-centerustify-content-center text-white flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/parametrizacion" routerLinkActive="active"
         class="nav-link text-white d-flex align-items-center" [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-sliders me-2"></i>
        <span *ngIf="!isCollapsed">Parametrización</span>
      </a>
    </li>
  </ul>

  <hr>

  <div class="dropdown">
    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQGZeHQpfQ5UaQ/profile-displayphoto-shrink_800_800/B4EZVDYPNkGYAc-/0/1740592182550?e=1753920000&v=beta&t=lO4LX7VUUyzyYSHMjPuoJSRmndkuhO-BtFTnJ1ALyZ4" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong *ngIf="!isCollapsed">mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>